# Web Framework & API
fastapi
uvicorn

# Database & ORM
SQLAlchemy
asyncpg
psycopg2-binary
greenlet

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]

# ML / AI Core
pandas
prophet

# LLM Frameworks
langchain
langchain-core
langchain-google-genai
langchain-mistralai

# Cloud & Networking
requests
urllib3
beautifulsoup4

# Configuration & Env
pydantic
pydantic-settings
python-dotenv

# Utils
pytrends
redis
pytest